<!DOCTYPE HTML>
<html>
<head>
  <title>我的学习地盘</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="../../public/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="../../public/css/loading.css"/>
  <link rel="stylesheet" href="../../public/css/main.css" />
  <!--[if lte IE 8]><link rel="stylesheet" href="../../public/css/ie8.css" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="../../public/css/ie9.css" /><![endif]-->
  <!-- Favicon -->
  <link rel="shortcut icon" href="../../public/css/images/favicon.ico">
</head>
<body>

<!-- Nav -->
<nav class="main_content" id="nav">

</nav>

<!-- Home -->
<div class="main_content wrapper style1 first">
  <article class="container" id="top">
    <div class="row">
      <div class="4u 12u(mobile)">
        <span class="image fit"><img src="" alt="" id="myPic"/></span>
      </div>
      <div class="8u 12u(mobile)">
        <header>
          <h1>Hi. I'm <strong id="myName"></strong>.</h1>
        </header>
        <p id="myText"></p>
        <a href="#about" class="button big scrolly">Show Me?</a>
      </div>
    </div>
  </article>
</div>

<!-- 关于 -->
<div class="main_content wrapper style2">
  <article id="about">
    <header>
      <h2 id="myCategoryTitle"></h2>
    </header>
    <div class="container">
      <div class="row" id="myCategory">
      </div>
    </div>
    <footer>
      <a href="#related" class="button big scrolly">捣鼓的项目</a>
    </footer>
  </article>
</div>

<!-- 相关 -->
<div class="main_content wrapper style3">
  <article id="related">
    <header>
      <h2 id="pTitle"></h2>
      <p id="pContent"></p>
    </header>

  </article>
</div>

{{include '../_partials/footer.html'}}
<!-- Scripts -->
<script src="../../public/js/jquery.min.js"></script>
<script src="../../public/js/jquery.scrolly.min.js"></script>
<script src="../../public/js/skel.min.js"></script>
<script src="../../public/js/skel-viewport.min.js"></script>
<script src="../../public/js/util.js"></script>
<!--[if lte IE 8]><script src="../../public/js/ie/respond.min.js"></script><![endif]-->
<script src="../../public/js/main.js"></script>
<script src="../../public/js/user.js"></script>

</body>
</html>
