<div class="main_content wrapper style3" style="height: 4em;padding: 1em 0 1em 0;font-size: .8em;">
  <a target="_blank" href="http://www.miitbeian.gov.cn/" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
    <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">粤ICP备18056308号</p>
  </a>
  <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44060402000591" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
    <img src="../../public/css/images/beian.png" style="float:left;"><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">粤公网安备 44060402000591号</p>
  </a>
</div>